body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.container::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
    box-shadow: 20em 2em white,
                34em 5em white,
                8em 8em white,
                32em 12em white,
                -2em 15em white,
                4em 18em white,
                34em 22em white,
                42em 25em white,
                4em 28em white,
                12em 32em white,
                35em 35em white,
                8em 38em white;
}

.container::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
    box-shadow: -2em 2em white,
                11em 5em white,
                1em 8em white,
                18em 12em white,
                10em 15em white,
                12em 18em white,
                39em 13em white,
                2em 40em white,
                28em 28em white,
                -4em 32em white,
                32em 29em white,
                24em 38em white;
    animation: shine 2s infinite;
}

.sun {
    position: absolute;
    top: 15em; 
    left: 15em;
    width: 10em;
    height: 10em;
    background-color:yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}

.earth , .moon {
    position: absolute;
    border-style: solid;
    border-color: white 
        transparent
        transparent
        transparent;
        border-width: 0.1em 0.1em 0 0;
        border-radius: 50%;
}

.earth {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 30.5s linear infinite;
}

.moon {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
    z-index: 1;
}

.earth::before,
.moon::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.earth::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}

.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

 @keyframes shine {
         0%, 100% {
                opacity: 0.5;
            }
         50% {
                opacity: 1;
            }
   }
    

